html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #bee0ec;
}

header {
    background-color: #51abcb;
}

footer {
    background-color: #51abcb;
}
